

.fondo{
    background-image: url("../img/sidebar.png");
    /* background: url("../img/sidebar.png"); */
} 
body{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 800;
}
.fondogeneral{
    background-image: url("../img/fondologin.jpg");
}
.fondo-btn{
    background: #053402;
}
.fondo-btn:hover{
    background: #218F18;
}
.op{
    background-color: rgba(252, 252, 252, 0.8);
}